.about {
  padding: 84px 0;
  
  @include tablet {
    padding: 100px 0;
  }

  @include desktop {
    padding: 120px 0;
  }
  }
  
  .about-list {

  & img {
    @media screen and (max-width: 767px) {
      display: none; 
     } 
  }

  @include tablet {
    display: flex;
    gap: 30px;
  }
  }

  .about-list-image {
    @include desktop {
      display: flex;
      gap: 30px;
    }
  }

  .about-item-img:not(:last-child) {
    @media screen and (max-width: 1199px) {
   width: 330px;
   margin-bottom: 30px;   
    }
  }

  .about-text-top {
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 20px;
  }
  
  .about-title {
    width: 306px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--primary-color);
    margin-bottom: 20px;

    @include desktop {
    font-size: 42px;
    width: 470px;
    }
  }
  
  .about-text-bottom {
    max-width: 470px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--secondary-color);

    @include tablet {
    font-size: 18px;
    }
  }
  
  .about-text-secondary {
    max-width: 470px;
    margin-bottom: 42px;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
  }
  