.main-booking-contacts {
    padding: 130px 0 120px;
    background-color: #191C26;
    background-image: url(../images/фон/Bgfooter.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: calc(50% - 15px) 100%;
    max-width: 1600px;
    margin: 0 auto;
  }
  
  .booking-contacts {
    display: flex;
  }
  
  .booking {
    width: calc(50% + 15px);
  }
  
  .booking-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--primary-bgc);
  }
  
  .label-textarea {
    margin-bottom: 44px;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.4;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.4);  
    cursor: pointer; 
  }
  
  .textarea {
    
    width: 570px;
    resize: none;
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: rgba(157, 164, 189, 0.4);
    cursor: pointer;
    outline: none;
    margin-bottom: 44px;
    transition: color 250ms linear,
                border-color 250ms linear;
    &:focus {
    color: var(--primary-bgc);
    border-color: var(--primary-bgc);
  }
  }
  
  .main-input {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 44px 0;
  }
  
  .main-input .input-list + .input-list {
    margin-left: 30px;
  }
  
  /* .message {
    background-color: transparent;
    border: none;
    border-color:  rgba(157, 164, 189, 0.4);
    cursor: pointer;
    padding-bottom: 8px;
    transition: color 250ms linear; 
    outline: transparent;
    display: inline-block;
  } */
  
  
  /* .message-box::after {
    margin-top: 60px;
    content: "";
    width: 570px;
    height: 1px;
    background-color: rgba(157, 164, 189, 0.4);
  
  display: block;
  } */
  
  .input {
    width: 270px;
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color:  rgba(157, 164, 189, 0.4);
    cursor: pointer;
    padding-bottom: 8px;
    transition: color 250ms linear; 
    outline: transparent;
    transition: color 250ms linear,
                border-color 250ms linear;
    &:focus {
    color: var(--primary-bgc);
    border-color: var(--primary-bgc);
  }
  }
  
  .input::placeholder {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.4;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: rgba(157, 164, 189, 0.4); 
  transition: border-color 250ms linear; 
  }
  
  .input:focus::placeholder {
    color: var(--primary-bgc);
  }