.contacts {
  @media screen and (max-width: 1199px) {
    
    background-image: url(../images/background/bg-contact-mobile.png);
    background-repeat: no-repeat; 
    background-size: cover; 
    padding: 100px 0;
    @include retina {
    background-image: url(../images/background/bg-contact-mobile-2x.png);  
    }

  @media screen and (max-width: 767px) {
    margin: 0 auto; 
  }
  }

  @media screen and (max-width: 767px) {
    padding: 84px 0;
  }
     @include tablet {
    background-image: url(../images/background/bg-contact-tablet.png);  
    @include retina {
    background-image: url(../images/background/bg-contact-tablet-2x.png);
    }
     }

    @include desktop {
      
      width: calc(50% - 15px);
      padding-top: 130px;
      padding-left: 100px;
    }
    }

    .online {
      width: 100%;
      background-color: #191C26;
    }

  .contacts-title {
    padding-left: 39px;
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    color: var(--primary-bgc);
    margin-bottom: 40px;
    
    @media screen and (max-width: 767px) {
      text-align: center;
      }
  }

  .address-overlay {
    padding-left: 35px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      gap: 80px;
    }

   
  }

  .address {
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--third-text-color); 
  }

  .icon-contact {
    margin-right: 20px;
  }
  
  .address-contacts {
    font-style: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
    display: flex;
    align-items: center;
  }
  
  .contacts-secondary:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .address-top-text {
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    color: var(--primary-bgc);
    margin-top: 44px;
    @include tablet {
      margin-top: 0;
    }

    @include desktop {
      margin-top: 70px;
    }

  }
  
  .address-bottom-text {
    font-style: normal;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 0.02em;
    color: var(--third-text-color);
  }