.footer {
  padding: 44px 0;
}

.main-footer {
    display: flex;
    flex-direction: column-reverse;

    @include desktop {
    justify-content: space-between;
    align-items: center;
    padding: 56px 0;
    }
  }
  
  .footer-text {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.2em;
    color: var(--third-text-color);
  }
  
  .networks-footer {
    margin-left: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 40px;
    &::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: currentColor;
    display: block;
    }
  } 
  
  .social-networks-link-footer {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.2em;
    color: var(--primary-color);
    transition: color 250ms linear;

    &:hover,
    &:focus {
      color: var(--accent-color);
  }
  }