.header {
    position: absolute;
    width: 100%;
  }
  
  .logo-header {
    width: 68px;
    height: 55px;
    display: block;
    // padding-right: 52px;
    fill: var(--primary-bgc);

    @include tablet {
      fill: var(--primary-color);
    }
  }

  .logo-header-link {
    display: block;
  }
 
   .button-open-menu {
    margin-left: auto;
    display: inline-flex;
    border: none;
    background-color: transparent;
    @include tablet {
      display: none;
    }
   }

   .button-close-menu {
    position: absolute;
    top: 35px;
    right: 30px;
    display: inline-flex;
    border: none;
    background-color: transparent;
    &:hover,
    &:focus {
    fill: var(--accent-color);
    }
   }

   .menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 337px;
    height: 100%;
    background-color: var(--primary-bgc);
    z-index: 1;
    overflow: auto;
  
    @include tablet {
      display: none;
    }
   }

   .menu-container-list {
    padding-top: 118px;
    padding-left: 40px;
   }

   .menu-container-contact {
    padding: 64px 0 64px 40px;
   }

    .menu-container-item:not(:last-child) {
    margin-bottom: 24px; 
    }
  
   .menu-container-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
   letter-spacing: 0.1em;
   color: var(--primary-color);

   }

   .menu-networks {
    position: relative;
    padding-left: 140px;
   &::before {
    position: absolute;
    top: 12px;
    left: 40px;
    content: "";
    width: 60px;
    height: 1px;
    background-color: currentColor;
    display: block;
  }
}
   .menu-social-networks-item:not(:last-child) {
    margin-bottom: 24px;
   }

  .menu-social-networks-link {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.2em;
    color: var(--primary-color);
  }


  .icon-nav {
    display: none;

    @include tablet {
      display: flex;
      font-weight: 600;
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.1em;
      color: var(--primary-bgc);
      padding: 12px 0;
    }
    
  }
  
  .nav {
    transition: color 250ms linear;

  &:hover,
  &:focus {
      color: var(--accent-color);
    }
  }
  
  .main-nav {
    display: flex;
    align-items:flex-start;
    padding-top: 32px;
  }
  
  .header-link {
    display: none;

  @include tablet {
    display: flex;
    margin-left: 70px;
  }

  @include desktop {
    padding-left: 130px;
  }
  }
  
  .main-contact {
    @media screen and (max-width: 767px) {
      display: none;   
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-direction: column-reverse;
      gap: 8px;
      align-items: center;
      margin-left: auto;
    } 
 
    @include desktop {
      display: flex;
      align-items: center;
      gap: 43px;
      margin-left: auto;
    }
   
  }
  
  .header-item:not(:first-child){
    margin-left: 30px;
  }
  
  