.header {
    position: absolute;
    width: 100%;
  }
  
  .logo-header {
    width: 68px;
    height: 55px;
    display: block;
    margin-right: 132px;
    fill: var(--primary-bgc);

    @include tablet {
      fill: var(--primary-color);
    }
  }
 
   .button-open-menu {
    margin-left: auto;
    display: inline-flex;
    border: none;
    background-color: transparent;
    @include tablet {
      display: none;
    }
   }

   .button-close-menu {
    position: absolute;
    top: 35px;
    right: 30px;
    display: inline-flex;
    border: none;
    background-color: transparent;
    &:hover,
    &:focus {
    fill: var(--accent-color);
    }
   }

   .menu-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 337px;
    height: 100%;
    background-color: var(--primary-bgc);
    z-index: 1;
  
    @include tablet {
      display: none;
    }
   }

   .menu-container-list {
    padding-top: 118px;
    padding-left: 40px;
   }

   .menu-container-contact {
    padding: 64px 0 64px 40px;
   }

    .menu-container-item:not(:last-child) {
    margin-bottom: 24px; 
    }
  
   .menu-container-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.4;
   letter-spacing: 0.1em;
   color: var(--primary-color);

   }

   .menu-networks {
    padding-left: 40px;
   &::before {
    content: "";
    width: 60px;
    height: 1px;
    background-color: currentColor;
    display: block;
  }
}

  .menu-social-networks-link {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.2em;
    color: var(--primary-color);
  }


  .icon-nav {
    display: none;

    @include tablet {
      display: flex;
      font-weight: 600;
      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.1em;
      color: var(--primary-bgc);
    }
    
  }
  
  .nav {
    transition: color 250ms linear;

  &:hover,
  &:focus {
      color: var(--accent-color);
    }
  }
  
  .main-nav {
    display: flex;
    align-items: center;
    margin-top: 32px;
  }
  
  .header-link{
    display: none;

  @include tablet {
    display: flex;
  }
  }
  
  .main-contact {
  display: none;
    @include tablet {
      display: flex;
      align-items: center;
      gap: 43px;
      margin-left: auto;
    }
   
  }
  
  .header-link .header-item + .header-item {
    margin-left: 30px;
  }
  
  