.hero .container {
  @media screen and (max-width: 767px) {
    padding: 0;  
  }
}

.hero-content {
    min-width: 320px;
    max-width: 1070px;
    max-height: 680px;
    min-height: 580px;
    background-color: #555555;
    background-image: var(--bg-linear),
    url(../images/фон/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
    flex-shrink: 1;
    padding-top: 204px;
    margin-left: auto;
    padding-left: 31px;

    @include tablet {
      width: 584px;
      padding-left: 100px;
    }

    @include desktop {
      width: 1070px;
      height: 680px;
      margin-left: 90px;
    }
  }
  
  .hero-top-text {
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    color: rgba(157, 164, 189, 0.6);
    margin-bottom: 20px; 
  }
  
  .hero-title {
    font-weight: 700;
    font-size: 48px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: var(--primary-bgc);
    margin-bottom: 20px;

    @include desktop {
    font-size: 72px;
    }
  }
  
  .hero-bottom-text {
    width: 358px;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.02em;
    color: var(--third-text-color);

    @include tablet {
    font-size: 18px;
    line-height: 1.67;
    }
  }