.portfolio {
    padding: 84px 0;

    @include tablet {
      padding: 100px 0;
      }
  
      @include desktop {
      padding: 120px 0;
      }
  }
  
  .portfolio-text {
    font-weight: 600;
    font-size: 11px;
    text-transform: uppercase;
    color: var(--primary-color);
    margin-bottom: 44px;
  }
  
  .portfolio-photos-list {
    @include tablet {
      display: flex;
      gap: 30px;
      flex-wrap: wrap;
    }
    @include desktop {
      flex-wrap: nowrap;
    }
  }

  .portfolio-photos-item {
   width: 100%;
   @media screen and (min-width: 480px) and (max-width: 767px) {
    width: 418px;
   }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      width: calc((100% - 2 * 30px) / 2);    
    }
  }

  .portfolio-photos-item:not(:last-child) {
    @media screen and (max-width: 767px) {
     margin-bottom: 30px; 
    }
  }
