body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.36;
  }
  
  :root {
    --primary-bgc: #ffffff;
    --secondary-bgc: #f7f7f7;
    --primary-color: #303030;
    --secondary-color: #555555;
    --third-text-color: #9da4bd;
    --accent-color: #ff6c00;
    --bg-gradient: linear-gradient(
      rgba(25, 28, 38, 0.2),
      rgba(25, 28, 38, 0.2)
    );
  }