







.contacts {
  width: calc(50% - 15px);
  margin-left: 100px;
}

.contacts-title {
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--primary-bgc);
  margin-bottom: 40px;
}

.address {
  display: flex;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  
}

.icon-contact {
  margin-right: 20px;
}

.address-contacts {
  font-style: normal;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  display: flex;
  align-items: center;
}

.contacts-secondary:not(:last-child) {
  margin-bottom: 20px;
}

.address-top-text {
  font-weight: 600;
  font-size: 11px;
  text-transform: uppercase;
  color: var(--primary-bgc);
  margin-top: 70px;
}

.address-bottom-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
}

.main-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 0;
}

.footer-text {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: var(--third-text-color);
}

.networks-footer {
  display: flex;
  align-items: center;
  gap: 40px;
} 

.social-networks-link-footer {
  font-weight: 600;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: var(--primary-color);
  transition: color 250ms linear;
}

.social-networks-link-footer:hover,
.social-networks-link-footer:focus {
  color: var(--accent-color);
}